<%= render 'shared/nav', space: @space %>
<div class="history-actions">
  <a href="/prototype/index">&lt;<%= link_to "Retornar a listagem", space_ar_exercises_path(@space) %></a>
</div>
<%= render 'questions/statement', question: @question_service.question %>
<% @question_service.answer_services.each do |answer_service| %>
  <% answer = answer_service.answer %>
  <h4 class="answer-author">Anônimo #<%= answer.user.id %></h4>
  <div class="answer-review">
    <h5><%= t('Resposta inicial') %></h5>
    <blockquote>
      <p><%= answer.initial %></p>
    </blockquote>

    <h5><%= t('Onde errou?') %></h5>
    <blockquote>
      <p><%= answer.rationale %></p>
    </blockquote>

    <h5><%= t('Por que errou?') %></h5>
    <blockquote>
      <%= answer.reflection %>
    </blockquote>
  </div>
  <div class="offset1">
    <% answer_service.cooperation_services do |cooperation_service| %>
      <%= render 'cooperations/item', item: cooperation_service.cooperation %>
    <% end %>
  </div>
<% end %>
