<%= form_for form, url: space_ar_exercises_path(form.space), method: :post, class: 'ar-exercise-form' do |f| %>
  <h3>Exercício autorregulatório #1</h3>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :space_id %>
  <p class="instructions">Preencha os três campos abaixo com questões relativas aos assuntos discutidos em sala. Os alunos poderão responder anonimamente relatando as dificuldades enfrentadas.</p>
  <% f.object.questions_form.each_with_index do |question_form, i| %>
    <% _i = i + 1 %>
    <%= f.fields_for(:"questions[#{i}]", question_form) do |question| %>
      <%= field_set_tag t("Questão número #{_i}"), class: 'ar-exercise-fieldset' do %>
        <div class="control-group">
          <div class="control-label">
            <%= question.label :title, t('Nome') %>
          </div>
          <div class="control">
            <%= question.text_field :title, placeholder: 'Em geral é recomendado utilizar questões que foram abordadas em sala.' %>
            <%= concave_errors_for(question.object, :title) %>
          </div>
        </div>

        <div class="control-group">
          <div class="control-label">
            <%= question.label :statement, t('Conteúdo') %>
          </div>
          <div class="control">
            <%= question.text_area :statement, rows: 7, placeholder: 'Informe o conteúdo da questão. Se possível contextualize os alunos sobre quando ela foi resolvida.' %>
            <%= concave_errors_for(question.object, :statement) %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= f.button t('Criar exercício'), class: 'button-primary button-big' %>
  </div>
<% end %>
