<ul class="tabs cooperation-nav">
  <% answered_or_answer = current_page?('/prototype/answer') || current_page?('/prototype/answered') %>
  <li class="tab <%= answered_or_answer ? 'tab-active' : '' %>">
    <% if current_page?('/prototype/answer') %>
      <%= link_to "Responder", '/prototype/answer', class: 'tab-title' %>
    <% else %>
      <%= link_to "Responder", '/prototype/answered', class: 'tab-title' %>
      <span class="tab-sub-title legend">Ver respostas</span>
    <% end %>
  </li>
  <% index_or_show = current_page?('/prototype/cooperation_index') || current_page?('/prototype/cooperate') %>
  <li class="tab <%= index_or_show ? 'tab-active' : '' %>">
    <%= link_to "Cooperação", '/prototype/cooperation_index', class: 'tab-title' %>
    <% if current_page?('/prototype/cooperate') %>
      <span class="tab-sub-title legend">Cooperar</span>
    <% end %>
  </li>
</ul>
