<%= render :partial => 'prototype/admin_nav' %>
<%= render 'shared/message_info', :message => "Aqui você pode criar exercícios que os alunos poderão responder anonimamente. O objetivo deste exercício é gerar reflexão no aluno a respeito da sua aprendizagem. Em geral, é recomendado criar questões iguais as trabalhadas em sala.", :greeting => "Bem-vindo!" %>

<%= form_tag '/', method: :post, class: 'ar-exercise-form' do %>
  <h3>Exercício autorregulatório #1</h3>
  <p class="instructions">Preencha os três campos abaixo com questões relativas aos assuntos discutidos em sala. Os alunos poderão responder anonimamente relatando as dificuldades enfrentadas.</p>
  <% 1.upto(3) do |i| %>
    <%= field_set_tag t("Questão número #{i}"), class: 'ar-exercise-fieldset' do %>
      <div class="control-group">
        <div class="control-label">
          <%= label_tag :"name_#{i}", t('Nome') %>
        </div>
        <div class="control">
          <%= text_field_tag :"name_#{i}", nil, placeholder: 'Em geral é recomendado utilizar questões que foram abordadas em sala.' %>
        </div>
      </div>

      <div class="control-group">
        <div class="control-label">
          <%= label_tag :"question_#{i}", t('Conteúdo') %>
        </div>
        <div class="control">
          <%= text_area_tag :"question_#{i}", nil, rows: 7, placeholder: 'Informe o conteúdo da questão. Se possível contextualize os alunos sobre quando ela foi resolvida.' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= button_tag t('Criar exercício'), class: 'button-primary button-big' %>
  </div>
<% end %>
