<%= render :partial => 'prototype/admin_nav' %>
<div class="history-actions">
  <%= link_to "< Retornar a listagem", '/prototype/index' %>
</div>

<h3>O que você aprendeu?</h3>
<%= render :partial => 'prototype/statement' %>

<% 1.upto(3) do |i| %>
  <h4 class="answer-author"><%= t("Anônimo #{i}") %></h4>
  <div class="answer-review">
    <h5><%= t('Resposta inicial') %></h5>
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </blockquote>

    <h5><%= t('O que ele errou') %></h5>
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </blockquote>

    <h5><%= t('Por que ele acha que errou mal?') %></h5>
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </blockquote>
  </div>

  <%= 1.upto(2) do |i| %>
    <div class="span10 offset1">
      <h6 class="answer-author"><%= t("Cooperador #{i}") %></h6>
      <p>
        <strong>Está bem justificado?</strong> <br />
        <em>Lorem ipsum dolor sit amet, consectetur adipisicing eli</em>
      </p>

      <p>
        <strong>Recomendaçãoes:</strong> <br />
        <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</em>
      </p>
      <hr class="list-separator" />
    </div>
  <% end %>

<% end %>
