<%#
    - question_service (QuestionService)
    - answer_service (AnswerService)
%>
<%
    question_service ||= nil
    question = question_service.try(:question)
    answer_service ||= nil
    answer = answer_service.try(:answer)
%>
<ul class="tabs cooperation-nav">
  <% question_show = current_page?(question_path(question)) %>
  <li class="tab <%= question_show ? 'tab-active' : '' %>">
    <%= link_to "Responder", question_path(question), class: 'tab-title' %>
    <% if question_service.answered? %>
      <span class="tab-sub-title legend">Ver respostas</span>
    <% end %>
  </li>
  <% if answer && current_page?(answer_path(answer)) %>
    <li class="tab tab-active">
      <%= link_to "Cooperação", answer_path(answer), class: 'tab-title' %>
      <span class="tab-sub-title legend">Cooperar</span>
    </li>
  <% elsif current_page?(question_answers_path(question))  %>
    <li class="tab tab-active">
      <%= link_to "Cooperação", question_answers_path(question), class: 'tab-title' %>
    </li>
  <% else %>
    <li class="tab">
      <%= link_to "Cooperação", question_answers_path(question), class: 'tab-title' %>
    </li>
  <% end %>
</ul>
