<ul class="tabs tabs-big admin-nav">
  <% new_or_create = current_page?(controller: :ar_exercises, action: :new) %>
  <li class="tab <%= new_or_create ? 'tab-active' : '' %>">
    <%= link_to "Novo exercício", new_ar_exercise_path, class: 'tab-title' %>
  </li>
  <% index = current_page?(controller: :ar_exercises, action: :index) %>
  <li class="tab <%= index ? 'tab-active' : '' %>">
    <%= link_to "Verificar exercícios", ar_exercises_path, class: 'tab-title' %>
    <% if current_page?('/prototype/show') %>
      <span class="tab-sub-title legend"><%= t('Correção') %></span>
    <% end %>
  </li>
</ul>
