<ul class="tabs tabs-big admin-nav">
  <% new_or_create = current_page?(controller: :ar_exercises, action: :new) %>
  <li class="tab <%= new_or_create ? 'tab-active' : '' %>">
    <%= link_to "Novo exercício", new_ar_exercise_path, class: 'tab-title' %>
  </li>
  <% index_or_summary = current_page?(controller: :ar_exercises, action: :index) || current_page?(controller: :questions, action: :summary) %>
  <li class="tab <%= index_or_summary ? 'tab-active' : '' %>">
    <% if current_page?(controller: :questions, action: :summary) %>
      <%= link_to "Verificar exercícios", ar_exercises_path, class: 'tab-title' %>
      <span class="tab-sub-title legend"><%= t('Correção') %></span>
    <% else %>
      <%= link_to "Verificar exercícios", ar_exercises_path, class: 'tab-title' %>
    <% end %>
  </li>
</ul>
