<ul class="tabs tabs-big admin-nav">
  <% new = current_page?(new_space_ar_exercise_path(space)) || current_page?(new_ar_exercise_path) %>
  <li class="tab <%= new ? 'tab-active' : '' %>">
    <%= link_to "Novo exercício", new_space_ar_exercise_path(space), class: 'tab-title' %>
  </li>
  <% summary = params[:controller] == "questions" %>
  <% index_or_summary = current_page?(space_ar_exercises_path(space)) || summary %>

  <li class="tab <%= index_or_summary ? 'tab-active' : '' %>">
    <% if summary %>
      <%= link_to "Verificar exercícios", space_ar_exercises_path(space), class: 'tab-title' %>
      <span class="tab-sub-title legend"><%= t('Correção') %></span>
    <% else %>
      <%= link_to "Verificar exercícios", space_ar_exercises_path(space), class: 'tab-title' %>
    <% end %>
  </li>
</ul>
