<ul class="tabs tabs-big admin-nav">
  <li class="tab <%= current_page?('/prototype/new') ? 'tab-active' : '' %>">
    <%= link_to "Novo exercício", "/prototype/new", class: 'tab-title' %>
  </li>
  <% index_or_show = current_page?('/prototype/index') || current_page?('/prototype/show') %>
  <li class="tab <%= index_or_show ? 'tab-active' : '' %>">
    <%= link_to "Verificar exercícios", "/prototype/index", class: 'tab-title' %>
    <% if current_page?('/prototype/show') %>
      <span class="tab-sub-title legend"><%= t('Correção') %></span>
    <% end %>
  </li>
</ul>
