<div class="answer-review">
  <h5><%= t('Resposta inicial') %></h5>
  <blockquote>
    <p><%= item.initial %></p>
  </blockquote>

  <h5><%= t('O que ele errou') %></h5>
  <blockquote>
    <p><%= item.rationale %></p>
  </blockquote>

  <h5><%= t('Por que ele acha que errou?') %></h5>
  <blockquote>
    <p><%= item.reflection %></p>
  </blockquote>
</div>
