<%= render 'shared/coop_nav', question_service: @question_service %>
<p class="instructions">
  Ajude seus colegas a entender melhor as dificuldades enfrentadas na compreensão do assunto dado em sala. Escolha uma das pessoas abaixo para começar a cooperar:
</p>

<% answer_services = @question_service.answer_services(where: ["user_id != ?", @question_service.user.id]) %>
<% if answer_services.count == 0 %>
  <%= render 'shared/message_info', greeting: t('Ops,'), message: t('Esta questão ainda não foi respondida por seus colegas.') %>
<% else %>
  <table class="table-with-borderradius">
    <thead>
      <th width="40%"><%= t('Resposta') %></th>
      <th><%= t('Criado em') %></th>
      <th><%= t('Eu já ajudei?') %></th>
      <th><%= t('Respostas') %></th>
    </thead>
    <tbody>
      <% answer_services.each do |service| %>
        <% answer = service.answer %>
        <tr>
          <td class="initial"><%= link_to answer.initial.truncate(40), answer_path(answer) %></td>
          <td class="created-at"><%= l(answer.created_at, format: :short) %></td>
          <td class="status">
            <% if service.cooperated? %>
              <span class="label-notify-me"><%= t('Sim') %></span>
            <% else %>
              <span class="label-online"><%= t('Não') %></span>
            <% end %>
          </td>
          <td class="status-cooperations"><%= answer.cooperations.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

