<%
    @question_service ||= @answer_service.question_service
%>
<%= render 'shared/coop_nav', question_service: @question_service, answer_service: @answer_service %>
<div class="history-actions">
  <%= link_to "< Voltar para a listagem de cooperações", question_answers_path(@question_service.question) %>
</div>
<%= render 'questions/instructions' %>
<%= render 'questions/statement', question: @question_service.question %>

<% answer = @answer_service.answer %>
<h4 class="answer-author">Anônimo <%= answer.user.id %></h4>
<%= render 'answers/item', item: answer %>

<% if @answer_service.initiator? %>
  <div class="offset1">
    <% @answer_service.cooperation_services do |cooperation_service| %>
      <%= render 'feedbacks/item', item: cooperation_service %>
    <% end %>
  </div>
<% else %>
  <% if @answer_service.cooperated? %>
    <div class="offset1">
      <%= render 'cooperations/item', item: @answer_service.cooperation %>
    </div>
  <% else %>
    <%= render 'cooperations/form', cooperation: @cooperation_form %>
  <% end %>
<% end %>
