<%= render 'shared/coop_nav', question_service: @question_service, answer_service: @answer_service %>
<div class="history-actions">
  <%= link_to "< Voltar para a listagem de cooperações", question_answers_path(@question_service.question) %>
</div>
<%= render 'questions/instructions' %>
<%= render 'questions/statement', question: @question_service.question %>

<% answer = @answer_service.answer %>
<h4 class="answer-author">Anônimo <%= answer.user.id %></h4>
<div class="answer-review">
  <h5><%= t('Resposta inicial') %></h5>
  <blockquote>
    <p><%= answer.initial %></p>
  </blockquote>

  <h5><%= t('O que ele errou') %></h5>
  <blockquote>
    <p><%= answer.rationale %></p>
  </blockquote>

  <h5><%= t('Por que ele acha que errou?') %></h5>
  <blockquote>
    <p><%= answer.reflection %></p>
  </blockquote>
</div>

<% if @answer_service.initiator? %>
  <div class="offset1">
    <% answer.cooperations.each do |cooperation| %>
      <%= render 'feedbacks/item', item: cooperation %>
    <% end %>
  </div>
<% else %>
  <% if @answer_service.cooperated? %>
    <% cooperation = answer.cooperations.find(:first, conditions: { user_id: current_user }) %>
    <div class="offset1">
      <%= render 'cooperations/item', item: cooperation %>
    </div>
  <% else %>
    <%= render 'cooperations/form', cooperation: @cooperation_form %>
  <% end %>
<% end %>
