<%= render 'cooperations/item', item: item.cooperation %>
<hr class="list-separator" />
<% unless item.feedback? %>
  <div class="feedback">
    <% if @feedback_form %>
      <%= render 'feedbacks/form', form: @feedback_form %>
    <% else %>
      <div class="span6 offset4 choice">
        <h6>Você aceita a recomendação?</h6>
        <div class="positive-feedback">
          <%= button_tag t('Sim'), class: 'button-primary', onclick: "$('.positive-feedback-form').show(); $('.negative-feedback-form').hide(); $(this).parents('.choice').hide(); " %>
        </div>
        <div class="negative-feedback">
          <%= button_tag t('Não'), class: 'button-default', onclick: "$('.positive-feedback-form').hide(); $('.negative-feedback-form').show(); $(this).parents('.choice').hide();" %>
        </div>
      </div>
      <div class="positive-feedback-form" style="display: none;">
        <%= render 'feedbacks/form', form: item.feedback_form, accepted: true %>
      </div>
      <div class="negative-feedback-form" style="display: none;">
        <%= render 'feedbacks/form', form: item.feedback_form, accepted: false %>
      </div>
    <% end %>
  </div>
<% end %>
