<p> Olá <%= @user.first_name %>, </p>

<p>
  um novo exercício anônimo foi criado na disciplina <%= @space.name %>. Para concluir esta atividade você deve responder às <%= @ar_exercise.questions.count %> questões abaixo e auxiliar, pelo menos, 3 colegas.
</p>

<ol>
<% @ar_exercise.questions.order('questions.position ASC').each do |question| %>
  <li><%= link_to question.title, question.href_to('self_link') %></li>
<% end %>
</ol>

<p>
  Para auxíliar seus colegas clique na opção "Cooperação" nas questões acima.
</p>

<br><br>
--
<br><br>

Atenciosamente, <%= @ar_exercise.user.name %>
