<%= render :partial => 'ar_exercise/coop_nav' %>
<%= render 'shared/message_info', :message => "Agora você pode ver o que outros colegas sugeriram para você aprender mais. Você pode aceitar ou recusar as recomendações.", :greeting => "Instruções:" %>
<%= render :partial => 'ar_exercise/statement' %>

<h4 class="answer-author">Você respondeu:</h4>

<div class="answer-review">
  <h5><%= t('Sua resposta inicial') %></h5>
  <blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </blockquote>

  <h5><%= t('Onde você errou?') %></h5>
  <blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </blockquote>

  <h5><%= t('Por que errou?') %></h5>
  <blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </blockquote>
</div>

<div class="offset1">
  <h4 class="answer-author">Cooperador 1</h4>
  <div class="answer-review">
    <p>
      <strong>Está bem justificado?</strong> <br />
      <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</em>
    </p>

    <p>
      <strong>Recomendaçãoes:</strong> <br />
      <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</em>
    </p>
  </div>

  <div class="feedback">
      <div class="span6 offset4">
        <h6>Você aceita a recomendação?</h6>
        <%= form_tag '/', method: :post, class: 'positive-feedback' do %>
          <%= button_tag t('Sim'), class: 'button-primary' %>
        <% end %>
        <%= form_tag '/', method: :post, class: 'negative-feedback' do %>
          <%= button_tag t('Não'), class: 'button-default' %>
        <% end %>
      </div>
  </div>
  <hr class="list-separator" />
</div>
<div class="offset1">
  <h4 class="answer-author">Cooperador 2</h4>

  <div class="answer-review">
    <p>
      <strong>Está bem justificado?</strong> <br />
      <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</em>
    </p>

    <p>
      <strong>Recomendaçãoes:</strong> <br />
      <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</em>
    </p>
  </div>

  <div class="feedback">
    <%= form_tag '/feedback', method: 'post' do %>
      <p class="instructions">Para finalizar esta questão você precisa responder as perguntas abaixo:</p>
      <div class="control-group">
        <div class="control-label">
          <%= label_tag :justification, ('Você aceita a recomendação? Explique') %>
        </div>
        <div class="control">
          <%= text_area_tag :justification, nil, placeholder: 'Explique como a recomendação do colega foi útil' %>
        </div>
      </div>

      <div class="control-group">
        <div class="control-label">
          <%= label_tag :overall_jusfication, ('Em que este trabalho ajudou?') %>
        </div>
        <div class="control">
          <%= text_area_tag :overall_jusfication, nil, placeholder: 'Você possui alguma sugestão de como melhorar este trabalho?' %>
        </div>
      </div>

      <div class="form-actions">
        <%= button_tag t('Finalizar'), class: 'button-primary' %>
      </div>
    <% end %>
  </div>
</div>
