<%= render :partial => 'ar_exercise/coop_nav' %>

<%= render :partial => 'ar_exercise/statement' %>

<%= form_tag '/', method: :post do %>
  <div class="control-group">
    <div class="control-label">
      <%= label_tag :preliminar_answer, t('Minha resposta inicial') %>
    </div>
    <div class="control">
      <%= text_area_tag :preliminar_answer %>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label">
      <%= label_tag :evaluation_answer, t('O que fiz mal?') %>
    </div>
    <div class="control">
      <%= text_area_tag :evaluation_answer %>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label">
      <%= label_tag :justification_answer, t('Por que fiz mal?') %>
    </div>
    <div class="control">
      <%= text_area_tag :justification_answer %>
    </div>
  </div>

  <div class="form-actions">
    <%= link_to t('Responder'), '/ar_exercise/answered', class: 'button-primary button-big' %>
  </div>
<% end %>
