<%= render :partial => 'ar_exercise/coop_nav' %>

<p>
  Um móvel realiza um movimento circular e uniforme, com velocidade de 5 m/s. Sendo a aceleração centrípeta igual a 10 m/s2, determine o raio de sua trajetória.
</p>
<%= image_tag 'holder.js/640x120' %>

<h4>Você respondeu:</h4>

<h5><%= t('Sua resposta inicial') %></h5>
<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</blockquote>

<h5><%= t('O que você fez mal?') %></h5>
<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</blockquote>

<h5><%= t('Por que você fez mal?') %></h5>
<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</blockquote>

<div class="offset1">
  <h3>Cooperador 1</h3>

  <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</em>

  <h5>Recomendaçãoes</h5>

  <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</em>

  <hr />

  <strong>Você aceita a recomendação?</strong>
  <div class="row">
    <%= form_tag '/', method: :post do %>
      <%= button_tag t('Sim'), class: 'button-primary' %>
    <% end %>
    <%= form_tag '/', method: :post do %>
      <%= button_tag t('Não'), class: 'button-default' %>
    <% end %>
  </div>
</div>

<div class="offset1">
  <h3>Cooperador 2</h3>

  <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</em>

  <h5>Recomendaçãoes</h5>

  <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</em>

  <hr />

  <%= form_tag '/feedback', method: 'post' do %>
    <%= field_set_tag do %>
      <%= label_tag :justification, ('Explique o motivo') %>
      <%= text_area_tag :justification %>

      <%= label_tag :overall_jusfication, ('Em que este trabalho ajudou?') %>
      <%= text_area_tag :overall_jusfication %>

      <%= button_tag t('Finalizar'), class: 'button-primary' %>
    <% end %>
  <% end %>
</div>
