<%= render :partial => 'ar_exercise/admin_nav' %>

<%= form_tag '/', method: :post do %>
  <p>Preencha os três campos abaixo com questões relativas aos assuntos discutidos em sala. Os alunos poderão responder anonimamente relatando as dificuldades enfrentadas.</p>
  <% 1.upto(3) do |i| %>
    <%= field_set_tag t("Questão número #{i}") do %>
      <div class="control-group">
        <div class="control-label">
          <%= label_tag :"name_#{i}", t('Nome') %>
        </div>
        <div class="control">
          <%= text_field_tag :"name_#{i}" %>
        </div>
      </div>

      <div class="control-group">
        <div class="control-label">
          <%= label_tag :"question_#{i}", t('Conteúdo') %>
        </div>
        <div class="control">
          <%= text_area_tag :"question_#{i}" %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= button_tag t('Criar exercício'), class: 'button-primary button-big' %>
  </div>
<% end %>
