<%= render :partial => 'ar_exercise/admin_nav' %>

<%= form_tag '/', method: :post do %>
  <p>Preencha os três campos abaixo com questões relativas aos assuntos discutidos em sala. Os alunos poderão responder anonimamente relatando as dificuldades enfrentadas.</p>
  <% 1.upto(3) do |i| %>
    <%= field_set_tag t("Questão número #{i}") do %>
      <%= label_tag :"name_#{i}", t('Nome') %>
      <%= text_field_tag :"name_#{i}" %>
      <%= label_tag :"question_#{i}", t('Conteúdo') %>
      <%= text_area_tag :"question_#{i}" %>
    <% end %>
  <% end %>

  <%= button_tag t('Criar exercício'), class: 'button-primary button-big' %>
<% end %>
