<div class="row">
  <div class="span11">
    <%= render :partial => 'ar_exercise/admin_nav' %>
    <%= link_to "< Retornar a listagem", '/ar_exercise/index' %>

    <h3>O que você aprendeu?</h3>
    <p>
      Um móvel realiza um movimento circular e uniforme, com velocidade de 5 m/s. Sendo a aceleração centrípeta igual a 10 m/s2, determine o raio de sua trajetória.
    </p>
    <%= image_tag 'holder.js/640x120' %>

    <% 1.upto(3) do |i| %>
      <h4><%= t("Anônimo #{i}") %></h4>
      <h5><em><%= t('Resposta inicial') %></em></h5>
      <p>
        Lipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <h5><em><%= t('O que fiz mal?') %></em></h5>
      <p>
        Lipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <h5><em><%= t('Por que fiz mal?') %></em></h5>
      <p>
        Lipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>

      <div class="span9 offset1">
        <h6><%= t("Cooperador #{i+1}") %></h6>
        <em><%= t('Está bem justificado?') %></em>
        <p>
          Lipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <em><%= t('Recomendações') %></em>
        <p>
          Lipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    <% end %>
  </div>
</div>
